# --------------------------------- App Info ----------------------------------
APP_NAME=notification-service
APP_ENV=development
PORT=8082

# --------------------------------- Database ----------------------------------
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=notification_service
DB_SSL_MODE=disable

# --------------------------------- Redis ----------------------------------
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# --------------------------------- SMTP ----------------------------------
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_FROM_NAME=your_smtp_from_name
SMTP_FROM_EMAIL=your_smtp_from_email
SMTP_USE_TLS=false
SMTP_USE_STARTTLS=true
SMTP_TIMEOUT=5m
SMTP_RETRIES=3

# --------------------------------- JWT ----------------------------------
JWT_ISSUER=user-service
JWT_SECRET=your_super_secret_jwt_key_here
SCOPED_SECRET=your_super_secret_scoped_key_here

# --------------------------------- Logger ----------------------------------
LOG_LEVEL=info
LOG_FILE=
ENABLE_JSON=true
ENABLE_STACK=true
ENABLE_CALLER=true

# --------------------------------- TTL ----------------------------------
SESSION_TTL=15m
SCOPED_TOKEN_TTL=10m
REFRESH_TOKEN_TTL=720h
