# --------------------------------- App Info ----------------------------------
APP_NAME=graphql-gateway
APP_ENV=development
PORT=8080

# --------------------------------- Database ----------------------------------
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=graphql_gateway
DB_SSL_MODE=disable

# --------------------------------- Redis ----------------------------------
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# --------------------------------- JWT ----------------------------------
JWT_ISSUER=user-service
JWT_SECRET=your_super_secret_jwt_key_here
SCOPED_SECRET=your_super_secret_scoped_key_here

# --------------------------------- Logger ----------------------------------
LOG_LEVEL=info
LOG_FILE=
ENABLE_JSON=false
ENABLE_STACK=true
ENABLE_CALLER=true

# --------------------------------- TTL ----------------------------------
SESSION_TTL=15m
SCOPED_TOKEN_TTL=10m
REFRESH_TOKEN_TTL=720h

# --------------------------------- Services ----------------------------------
TASK_SERVICE_ADDR=task-service:8083

# --------------------------------- CORS ----------------------------------
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:8080
CORS_ALLOWED_HEADERS=Content-Type,Authorization
CORS_ALLOWED_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
